@keyframes marquee-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.marquee-animation {
  animation: marquee-animation 40s linear infinite;
  white-space: nowrap;
}

.marquee-animation:hover {
  animation-play-state: paused;
}

.brand {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.dashboards {
  font-family: "Inter", sans-serif;
  font-family: 400;
  letter-spacing: 1px;
  font-size: 14px;
}

.mobile-li {
  font-family: "Ubuntu", Arial;
  font-family: 500;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
}
